/* h1{
    color:rgb(49, 128, 0);
}

p{
    color: red;
}

body{
    background-color:#8ecae6;
}

button{
    color: brown;
    background-color: green;
} 

 *{
    color:pink;
} 

h1{
    color:green;
} */

/* #headingone{
    color:blueviolet;
}

.myclass{
    color:brown;
} */

 /* #box{
    background-color: blue;
     color:white; 
 } */

/* .heading{
    color:brown;
} */

/* h1,h2,h3{
    color:blueviolet;
} */

/* button{
    background-color: pink;
} */

/* p{
    text-align:right;
} */

 /* p{
text-align: center;
} 

 h1{
    text-align:right;
    text-decoration: underline;
}  */

/* h1{
    text-align: right;
    text-decoration:overline ;
} */

/* h1{
    text-align: center;
    text-decoration: line-through;
} */

/* a{
    text-decoration: none;
} */
 
/* h1{
    text-align: center;
    text-decoration:  red wavyoverline;
} */

/* #h1{
    font-weight: 100;
}

#h2{=
    font-weight: 250;
}

#h3{
    font-weight: 400;
}

#h4{
    font-weight: 900;
} */

/* #one{
    font-size: 25px;
    line-height: 50px;
    text-transform: uppercase;
}

#three{
    font-size: 10px;
}  */


/* h1{
    text-align: center;
    text-transform: capitalize;
} */

/* *{
    font-family:"times new roman";
} */


/* body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
img{
    height:290px;
    margin-top: 27%;
}                */




